/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUENTE GLOBAL */
body {
  font-family: "Inter", sans-serif;
  background-color: #f7f7f7;
  color: #111;
}

/* CONTENEDOR GLOBAL */
.container {
  max-width: 1200px;
  margin: auto;
  padding-inline: 16px;
}

/* TITULOS */
h1, h2, h3 {
  font-weight: 700;
  color: #111;
}

/* LINK RESET */
a {
  text-decoration: none;
  color: inherit;
}
