.gallery-container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 16px;
}

.gallery-container h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.gallery-container h2 {
  font-size: 20px;
  font-weight:lighter;
  text-align: center;
  font-style: italic;;
  margin-bottom: 30px;
}

.gallery-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.gallery-grid img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  transition: 0.3s;
  border: 1px solid #ddd;
}

.gallery-grid img:hover {
  transform: scale(1.03);
}

.gallery-contactme{
  margin-top: 40px;
  text-align: center;
}