.header {
  width: 100%;
  background: #000; 
  border-bottom: 1px solid #222;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  font-family: Georgia;
  color: #fff; 
}

/* -------- MENU DESKTOP -------- */

.menu-desktop {
  display: none;
  gap: 24px;
}

.menu-desktop a {
  color: #fff; 
  text-decoration: none;
  font-size: 15px;
  transition: 0.2s;
}

.menu-desktop a:hover {
  color: rgb(230, 230, 230);
}

/* -------- MENU HAMBURGUESA -------- */

.menu-btn {
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  color: white; 
}

/* -------- MENU MOBILE -------- */

.menu-mobile {
  display: flex;
  flex-direction: column;
  background: #ffffff; 
  border-top: 1px solid #333;
  padding: 16px;
}

.menu-mobile a {
  padding: 10px 0;
  color: #000000; 
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}

.menu-mobile a:hover {
  color: rgb(2, 2, 2);
  font-weight: bold;
}

/* -------- RESPONSIVE -------- */

@media (min-width: 768px) {
  .menu-desktop {
    display: flex;
  }
  .menu-btn,
  .menu-mobile {
    display: none;
  }
}
